---
import BaseLayout from "../layouts/BaseLayout.astro";
import LineaCard from "../components/LineaCard.astro";
import { recorridos } from "../data/recorridos";
---

<BaseLayout title="Horarios de Colectivos Chaco – Corrientes">
  <section class="mt-6 grid gap-4 sm:mt-8">
    {recorridos.map((recorrido) => (
      <LineaCard recorrido={recorrido} />
    ))}
  </section>

</BaseLayout>

